<mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="data.event.title" />
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="data.event.description"></textarea>
  </mat-form-field>
  
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="{ event: data.event }">OK</button>
    <button mat-button (click)="cancel()">Cancel</button>
    <button 
      *ngIf="data.enableDelete"
      mat-fab
      color="'primary"
      aria-label="Delete"
      [mat-dialog-close] = "{event: data.event, delete:true}">
      <mat-icon>delete</mat-icon>
    </button>
  </div>